:root {
  --color-background-sidebar: #27417d;
  --color-background-main: #242d42;
  --color-text-sidebar: #fcfafa;
  --color-text-main: #c8d3d5;
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(136, 40, 40) 50%,
    rgb(33, 79, 110) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.main {
  color: var(--color-text-sidebar);
  height: 95vh;
  justify-content: center;
  align-items: center;
}
.sidebar {
  display: flex;
  align-items: center;
  height: 5vh;
  padding-left: 5rem;
}

.sidebar__list a {
  color: #c8d3d5;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  margin: 1rem 1rem;
}

.sidebar__list {
  list-style: none;
}

.sidebar__list a.active,
.sidebar__list a:hover {
  color: #dd3838;
}

.portfolio {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 50%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.intro {
  margin-top: 4rem;
}

.options {
  margin-top: 2rem;
  border-top: 1px solid #fcfafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options a {
  margin: 1rem 2rem;
  text-decoration: none;
  background-color: #c8d3d5;
  padding: 1rem 1rem;
  border-radius: 3px;
  color: #4663a6;
  text-transform: uppercase;
}
.options a:hover {
  background-color: #4072e6;
  color: #c8d3d5;
}

.project__card {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 40vw;
  padding: 1rem;
  background-color: beige;
  color: #27417d;
  border-radius: 3px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

.project__card-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  text-align: center;
  width: 60%;
}
.project__card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 40%;
}

i {
  color: #27417d;
  margin-left: 5px;
}
i:hover {
  color: #485ea1;
}

.liveapp {
  padding: 4px 4px;
  border: 1px solid #27417d;
  display: flex;
  margin-left: 1rem;
  align-items: center;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.liveapp:hover {
  background-color: #205ae0;
}
.liveapp:hover a,
.liveapp:hover i {
  color: #f8f9fc;
}

.liveapp a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #27417d;
}

.projectlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 1rem;
}

section {
  margin-top: 1rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 100vh;
  margin: 0 auto;
}

.contact__card {
  background-color: #dfe2e2;
  min-height: 200px;
  min-width: 400px;
  color: #1b3b86;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.contact__card td {
  padding: 1rem;
}

.contactlinks {
  margin-top: 4rem;
  background-color: #eeeeee;
  color: #242d42;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  border-collapse: collapse;
}

.contactlinks td {
  border-left: 0.1px solid gray;
  border-right: 0.1px solid gray;

  padding: 1rem 1rem;
}
.contactlinks a {
  text-decoration: none;
  color: #242d42;
}
.contactlinks a:hover {
  text-decoration: none;
  color: #1748bb;
}

.portfolio__links {
  list-style: none;
  display: flex;
}
.name {
  text-align: left;
}
.portfolio__links li {
  text-transform: uppercase;
  margin: 1rem;
  transition: background-color 0.2s;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  vertical-align: center;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.linotactive {
  color: #dd3838;
  border: 2px solid #dd3838;
}

.liactive {
  background-color: #dd3838;
  color: #ebebeb;
  border: 2px solid #dd3838;
}
